* {
    box-sizing: border-box;
    margin: 0;
}

body {
    text-align: center;
    /* width: 459px; */
}

img {
    border-radius: 50%;
    width: 10%;
}

h1, h3, p {
    padding: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

a:hover {
    font-size: 1.1rem;
    transition: ease-in-out;
    text-decoration: underline;
}
